# Wails
build/
frontend/dist/*
!frontend/dist/.gitkeep
frontend/package.json.md5

# Dependencies
node_modules/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Frontend / Vite
*.local
.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~


/cursor/
.cursor/